#search-div {
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


#search-input {
    width: 700px;
}


#table-div {
    padding-top: 50px;
}


.table-image {
    min-height: 80px;
    width: auto;
    max-height: 180px;
}
